name: Python Wheels

on:
  push:
    branches:
      - master
      - 'dev**'
  pull_request:
  release:
    types:
      - created

env:
  VCPKG_PKGS: >-
    boost-dll boost-program-options
    boost-serialization boost-filesystem
    boost-stacktrace boost-algorithm
    boost-format
    tinyxml2 console-bridge assimp
    urdfdom octomap orocos-kdl pcl
    gtest benchmark flann jsoncpp
    yaml-cpp eigen3
    openblas
    fcl ompl taskflow
    bullet3[multithreading,double-precision,rtti]
    ccd[double-precision] gperftools

jobs:
  build-ubuntu:
    runs-on: ${{ matrix.config.runs_on }}
    container: ${{ matrix.config.container }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - os: ubuntu-22.04
          runs_on: ubuntu-22.04
          container: ubuntu:22.04
          py_platform: manylinux_2_35_x86_64
          python_version: "3.9"
        - os: ubuntu-22.04
          runs_on: ubuntu-22.04
          container: ubuntu:22.04
          py_platform: manylinux_2_35_x86_64
          python_version: "3.10"
        - os: ubuntu-22.04
          runs_on: ubuntu-22.04
          container: ubuntu:22.04
          py_platform: manylinux_2_35_x86_64
          python_version: "3.11"
        - os: ubuntu-22.04
          runs_on: ubuntu-22.04
          container: ubuntu:22.04
          py_platform: manylinux_2_35_x86_64
          python_version: "3.12"
        - os: ubuntu-22.04
          runs_on: ubuntu-22.04
          container: ubuntu:22.04
          py_platform: manylinux_2_35_x86_64
          python_version: "3.13"
    env:
      DEBIAN_FRONTEND: noninteractive
    steps:
    - uses: actions/checkout@v4
      with:
        path: ws/src/tesseract_python
    - name: install sudo, tzdata, keyboard-configuration
      shell: bash
      run: |
        echo -en "XKBMODEL=\"pc105\"\nXKBLAYOUT=\"us\"\nXKBVARIANT=\"\"\nXKBOPTIONS=\"\"\nBACKSPACE=\"guess\"\n" > /etc/default/keyboard
        apt update
        apt install sudo tzdata python3 keyboard-configuration -y -qq
        ln -fs /usr/share/zoneinfo/America/New_York /etc/localtime
        dpkg-reconfigure --frontend noninteractive tzdata
    - name: apt
      run: >
        sudo apt-get install python3-pip libboost-all-dev
        libeigen3-dev libtinyxml2-dev libconsole-bridge-dev libassimp-dev
        liburdfdom-dev liboctomap-dev liborocos-kdl-dev libpcl-dev
        libflann-dev libjsoncpp-dev libyaml-cpp-dev git cmake ninja-build
        build-essential autoconf automake libtool bison libpcre2-dev libpcre3-dev
        lcov libbullet-dev libbullet-extras-dev python3-venv curl libfcl-dev -y -qq
    - uses: actions/setup-python@v5
      id: setup-python
      with:
        python-version: '${{ matrix.config.python_version }}'
    - name: pip
      run: |
        python -m pip install --upgrade pip
        python -m pip install auditwheel wheel numpy setuptools colcon-common-extensions vcstool patchelf nanobind scikit-build-core pytest
    - name: vcs import
      working-directory: ws/src
      run: vcs import --input tesseract_python/dependencies.rosinstall
    - name: colcon build C++ deps
      working-directory: ws
      run: >
        colcon build --merge-install
        --packages-ignore tesseract_python tesseract_examples trajopt_ifopt trajopt_sqp ifopt vhacd
        --cmake-force-configure
        --packages-ignore bullet
        --event-handlers console_cohesion+
        --cmake-args -DCMAKE_BUILD_TYPE=Release
        -DBUILD_IPOPT=OFF -DBUILD_SNOPT=OFF
        -DTESSERACT_ENABLE_EXAMPLES=OFF -DTESSERACT_PLUGIN_FACTORY_CALLBACKS=ON
        -DTESSERACT_BUILD_TRAJOPT_IFOPT=OFF -DTESSERACT_ENABLE_TESTING=OFF
    - name: build nanobind wheel
      working-directory: ws/src/tesseract_python/tesseract_python_nb
      run: |
        export LD_LIBRARY_PATH=$GITHUB_WORKSPACE/ws/install/lib
        export CMAKE_PREFIX_PATH=$GITHUB_WORKSPACE/ws/install
        CMAKE_ARGS="-DCMAKE_POLICY_VERSION_MINIMUM=3.5" pip wheel . -w dist/ --no-build-isolation
    - name: auditwheel
      working-directory: ws/src/tesseract_python/tesseract_python_nb
      run: |
        export LD_LIBRARY_PATH=$GITHUB_WORKSPACE/ws/install/lib
        mkdir -p wheelhouse
        auditwheel repair dist/*.whl -w wheelhouse --plat ${{ matrix.config.py_platform }}
    - name: test
      shell: bash
      run: |
        python3 -m venv venv
        source venv/bin/activate
        python -m pip install --upgrade pip
        python -m pip install ws/src/tesseract_python/tesseract_python_nb/wheelhouse/*.whl
        python -m pip install pytest
        export TESSERACT_SUPPORT_DIR=$GITHUB_WORKSPACE/ws/src/tesseract/tesseract_support
        export TESSERACT_TASK_COMPOSER_DIR=$GITHUB_WORKSPACE/ws/src/tesseract_planning/tesseract_task_composer
        cd ws/src/tesseract_python/tesseract_python_nb
        pytest tests/ -v
    - name: archive wheels
      uses: actions/upload-artifact@v4
      with:
        name: 'python-${{ matrix.config.os }}-${{ matrix.config.python_version }}'
        path: ws/src/tesseract_python/tesseract_python_nb/wheelhouse/*.whl

  build-win:
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        config:
          - arch: x64
            vcpkg_triplet: x64-windows-release
            cmake_arch: x64
            python_version: "3.9"
          - arch: x64
            vcpkg_triplet: x64-windows-release
            cmake_arch: x64
            python_version: "3.10"
          - arch: x64
            vcpkg_triplet: x64-windows-release
            cmake_arch: x64
            python_version: "3.11"
          - arch: x64
            vcpkg_triplet: x64-windows-release
            cmake_arch: x64
            python_version: "3.12"
          - arch: x64
            vcpkg_triplet: x64-windows-release
            cmake_arch: x64
            python_version: "3.13"
    steps:
    - uses: actions/checkout@v4
      with:
        path: ws/src/tesseract_python
    - uses: actions/setup-python@v5
      id: setup-python
      with:
        python-version: '${{ matrix.config.python_version }}'
        architecture: ${{ matrix.config.arch }}
    - name: vcpkg build
      uses: johnwason/vcpkg-action@v6
      with:
        pkgs: >-
          ${{ env.VCPKG_PKGS }}
        triplet: ${{ matrix.config.vcpkg_triplet }}
        extra-args: --clean-after-build
        token: ${{ github.token }}
        cache-key: win-${{ matrix.config.arch }}-nanobind
        github-binarycache: true
    - name: pip
      run: |
        python -m pip install numpy setuptools wheel pytest delvewheel colcon-common-extensions vcstool nanobind scikit-build-core
    - name: vcs import
      working-directory: ws/src
      run: vcs import --input tesseract_python\dependencies.rosinstall
    - name: colcon build C++ deps
      working-directory: ws
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat" -arch=amd64 -host_arch=amd64
        set CXXFLAGS=%CXXFLAGS% -DEIGEN_DONT_ALIGN=1 -DEIGEN_DONT_VECTORIZE=1
        set CMAKE_PREFIX_PATH=%GITHUB_WORKSPACE%\vcpkg\installed\${{ matrix.config.vcpkg_triplet }}
        set PATH=%PATH%;%GITHUB_WORKSPACE%\vcpkg\installed\${{ matrix.config.vcpkg_triplet }}\bin
        set CC=cl
        set CCX=cl
        colcon build --merge-install ^
        --cmake-force-configure ^
        --event-handlers console_cohesion+ ^
        --packages-ignore tesseract_python tesseract_examples trajopt_ifopt trajopt_sqp gtest ifopt vhacd ^
        --cmake-args -GNinja -DCMAKE_BUILD_TYPE=Release ^
        -DTESSERACT_ENABLE_EXAMPLES=OFF -DTESSERACT_PLUGIN_FACTORY_CALLBACKS=ON ^
        -DVCPKG_APPLOCAL_DEPS=OFF ^
        -DTESSERACT_BUILD_TRAJOPT_IFOPT=OFF -DTESSERACT_ENABLE_TESTING=OFF
        if %ERRORLEVEL% GEQ 1 exit 1
    - name: build nanobind wheel
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat" -arch=amd64 -host_arch=amd64
        set CMAKE_PREFIX_PATH=%GITHUB_WORKSPACE%\ws\install
        set PATH=%PATH%;%GITHUB_WORKSPACE%\ws\install\bin
        cd %GITHUB_WORKSPACE%\ws\src\tesseract_python\tesseract_python_nb
        set CMAKE_ARGS=-DCMAKE_POLICY_VERSION_MINIMUM=3.5
        pip wheel . -w dist\ --no-build-isolation
        if %errorlevel% neq 0 exit /b %errorlevel%
    - name: delvewheel
      shell: cmd
      run: |
        cd %GITHUB_WORKSPACE%\ws\src\tesseract_python\tesseract_python_nb
        mkdir wheelhouse
        for %%I in ("dist\*.whl") do delvewheel repair "%%I" -w wheelhouse --add-path "%GITHUB_WORKSPACE%\ws\install\bin;%GITHUB_WORKSPACE%\vcpkg\installed\${{ matrix.config.vcpkg_triplet }}\bin"
        if %errorlevel% neq 0 exit /b %errorlevel%
    - name: test
      shell: cmd
      run: |
        python -m venv venv
        if %errorlevel% neq 0 exit /b %errorlevel%
        call venv\Scripts\activate
        if %errorlevel% neq 0 exit /b %errorlevel%
        python -m pip install --upgrade pip
        if %errorlevel% neq 0 exit /b %errorlevel%
        for %%I in ("%GITHUB_WORKSPACE%\ws\src\tesseract_python\tesseract_python_nb\wheelhouse\*") do set WHEEL_FILE=%%~I
        python -m pip install %WHEEL_FILE%
        if %errorlevel% neq 0 exit /b %errorlevel%
        python -m pip install pytest
        if %errorlevel% neq 0 exit /b %errorlevel%
        set TESSERACT_SUPPORT_DIR=%GITHUB_WORKSPACE%\ws\src\tesseract\tesseract_support
        set TESSERACT_TASK_COMPOSER_DIR=%GITHUB_WORKSPACE%\ws\src\tesseract_planning\tesseract_task_composer
        cd %GITHUB_WORKSPACE%\ws\src\tesseract_python\tesseract_python_nb
        python -m pytest tests\ -v
        if %errorlevel% neq 0 exit /b %errorlevel%
    - name: archive wheels
      uses: actions/upload-artifact@v4
      with:
        name: 'python-win-${{matrix.config.python_version}}'
        path: ws/src/tesseract_python/tesseract_python_nb/wheelhouse/*.whl
    - name: archive logs
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: 'build-logs-win-${{ matrix.config.arch }}-python-${{ matrix.config.python_version }}'
        path: "**/*.log"
        retention-days: 2

  build-macos:
    runs-on: ${{ matrix.config.runner }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - py_platform: macosx_12_0_x86_64
          arch: x64
          runner: macos-13
          brew_prefix: /usr/local
        - py_platform: macosx_12_0_arm64
          arch: arm64
          runner: macos-14
          brew_prefix: /opt/homebrew
    steps:
    - uses: actions/checkout@v4
      with:
        path: ws/src/tesseract_python
    - uses: actions/setup-python@v5
      id: setup-python
      with:
        python-version: '3.12'
    - name: brew
      run: |
        brew install libomp cmake automake autoconf libtool gcc ninja
    - name: vcpkg build
      uses: johnwason/vcpkg-action@v6
      with:
        pkgs: >-
          ${{ env.VCPKG_PKGS }}
        triplet: ${{ matrix.config.arch }}-osx-dynamic-release
        extra-args: --clean-after-build --overlay-triplets=${{ github.workspace }}/ws/src/tesseract_python/.github/workflows/vcpkg_triplets
        token: ${{ github.token }}
        cache-key: osx-${{ matrix.config.arch }}-nanobind
        github-binarycache: true
        revision: master
    - name: pip
      run: |
        python3 -m pip install numpy setuptools wheel pytest colcon-common-extensions vcstool delocate nanobind scikit-build-core
    - name: vcs import
      working-directory: ws/src
      run: vcs import --input tesseract_python/dependencies.rosinstall
    - name: colcon build C++ deps
      working-directory: ws
      run: |
        export DYLD_LIBRARY_PATH=$DYLD_LIBRARY_PATH:$GITHUB_WORKSPACE/vcpkg/installed/${{ matrix.config.arch }}-osx-dynamic-release/lib:$GITHUB_WORKSPACE/ws/install/lib
        export CMAKE_PREFIX_PATH=$GITHUB_WORKSPACE/vcpkg/installed/${{ matrix.config.arch }}-osx-dynamic-release

        colcon build --merge-install \
            --packages-ignore tesseract_python tesseract_examples trajopt_ifopt trajopt_sqp ifopt vhacd \
            --event-handlers console_cohesion+ \
            --cmake-force-configure \
            --cmake-args -GNinja -DCMAKE_BUILD_TYPE=Release \
            -DINSTALL_OMPL=OFF -DINSTALL_OMPL_TAG=master -DBUILD_IPOPT=OFF -DBUILD_SNOPT=OFF \
            -DBUILD_SHARED_LIBS=ON -DTESSERACT_ENABLE_EXAMPLES=OFF -DTESSERACT_BUILD_TRAJOPT_IFOPT=OFF \
            -DVCPKG_APPLOCAL_DEPS=OFF -DTESSERACT_ENABLE_TESTING=OFF \
            -DCMAKE_OSX_DEPLOYMENT_TARGET=12.0 \
            -DCMAKE_POLICY_VERSION_MINIMUM=3.5 \
            -DOpenMP_CXX_INCLUDE_DIR=${{ matrix.config.brew_prefix }}/opt/libomp/include \
            -DOpenMP_C_INCLUDE_DIR=${{ matrix.config.brew_prefix }}/opt/libomp/include \
            -DOpenMP_CXX_LIB_NAMES=libomp -DOpenMP_CXX_FLAGS="-Xpreprocessor -fopenmp" \
            -DOpenMP_C_LIB_NAMES=libomp -DOpenMP_C_FLAGS="-Xpreprocessor -fopenmp" \
            -DOpenMP_libomp_LIBRARY=${{ matrix.config.brew_prefix }}/opt/libomp/lib/libomp.dylib \
            -Dtcmalloc_minimal_LIBRARY=${{ github.workspace }}/vcpkg/installed/${{ matrix.config.arch }}-osx-dynamic-release/lib/libtcmalloc_minimal.dylib
    - name: build nanobind wheel
      working-directory: ws/src/tesseract_python/tesseract_python_nb
      run: |
        export DYLD_LIBRARY_PATH=$GITHUB_WORKSPACE/ws/install/lib:$GITHUB_WORKSPACE/vcpkg/installed/${{ matrix.config.arch }}-osx-dynamic-release/lib
        export CMAKE_PREFIX_PATH=$GITHUB_WORKSPACE/ws/install:$GITHUB_WORKSPACE/vcpkg/installed/${{ matrix.config.arch }}-osx-dynamic-release
        CMAKE_ARGS="-DCMAKE_POLICY_VERSION_MINIMUM=3.5 -DCMAKE_OSX_DEPLOYMENT_TARGET=12.0" \
          pip wheel . -w dist/ --no-build-isolation
    - name: delocate
      working-directory: ws/src/tesseract_python/tesseract_python_nb
      run: |
        export DYLD_LIBRARY_PATH=$GITHUB_WORKSPACE/ws/install/lib:$GITHUB_WORKSPACE/vcpkg/installed/${{ matrix.config.arch }}-osx-dynamic-release/lib:${{ matrix.config.brew_prefix }}/opt/libomp/lib
        mkdir -p wheelhouse
        delocate-wheel -w wheelhouse -v dist/*.whl
    - name: test
      shell: bash
      run: |
        ${{ steps.setup-python.outputs.python-path }} -m venv venv
        source venv/bin/activate
        python -m pip install --upgrade pip
        python -m pip install ws/src/tesseract_python/tesseract_python_nb/wheelhouse/*.whl
        python -m pip install pytest
        export TESSERACT_SUPPORT_DIR=$GITHUB_WORKSPACE/ws/src/tesseract/tesseract_support
        export TESSERACT_TASK_COMPOSER_DIR=$GITHUB_WORKSPACE/ws/src/tesseract_planning/tesseract_task_composer
        cd ws/src/tesseract_python/tesseract_python_nb
        pytest tests/ -v
    - name: archive wheels
      uses: actions/upload-artifact@v4
      with:
        name: 'python-macos-${{ matrix.config.arch }}'
        path: ws/src/tesseract_python/tesseract_python_nb/wheelhouse/*.whl
    - name: archive logs
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: 'build-logs-macos-${{ matrix.config.arch }}'
        path: "**/*.log"
        retention-days: 2

  collect-wheels:
    needs:
      - build-win
      - build-ubuntu
      - build-macos
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Download CI artifacts
      uses: actions/download-artifact@v4
      with:
        pattern: python-*
        path: dist
        merge-multiple: true
    - name: archive all wheels
      uses: actions/upload-artifact@v4
      with:
        name: 'tesseract-robotics-nanobind-wheels'
        path: dist/*.whl
