name: Windows-Noetic-Build

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '0 5 * * *'

jobs:
  windows_ci:
    name: Noetic
    runs-on: windows-2019
    env:
      ROS_DISTRO: noetic
      CTEST_OUTPUT_ON_FAILURE: 1
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
        path: src/tesseract_python
    - name: Build
      shell: cmd
      run: |
        choco sources add -n=roswin -s https://aka.ms/ros/public --priority 1
        if %errorlevel% neq 0 exit /b %errorlevel%
        choco install ros-%ROS_DISTRO%-desktop_full -y --no-progress
        if %errorlevel% neq 0 exit /b %errorlevel%
        choco install swig
        C:/opt/ros/noetic/x64/python.exe -m pip uninstall pytest-rerunfailures -y
        if %errorlevel% neq 0 exit /b %errorlevel%

        call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat" -arch=amd64 -host_arch=amd64
        call "C:\opt\ros\%ROS_DISTRO%\x64\setup.bat"

        set

        rosdep update

        vcs import --input "${{ github.workspace }}/src/tesseract_python/dependencies_with_ext.rosinstall" src/
        
        rosdep install -q --from-paths . --ignore-src -y
        
        catkin_make_isolated --install --use-ninja --force-cmake --only-pkg-with-deps tesseract_python --cmake-args -DCMAKE_BUILD_TYPE=Release -DPYTHON_EXECUTABLE=C:/opt/ros/noetic/x64/python.exe -DPYTHON_LIBRARY=C:/opt/ros/noetic/x64/Lib/python38.lib -DINSTALL_OMPL=ON -DINSTALL_OMPL_TAG=master -DBUILD_IPOPT=OFF -DBUILD_SNOPT=OFF -DINSTALL_FCL=ON -DINSTALL_BULLET=ON -DNO_OPENCL=ON
        if %errorlevel% neq 0 exit /b %errorlevel%
        call "%CD%\install_isolated\setup.bat"
        set TESSERACT_SUPPORT_DIR=%CD%\src\tesseract\tesseract_support
        set TESSERACT_TASK_COMPOSER_DIR=%GITHUB_WORKSPACE%\src\tesseract_planning\tesseract_task_composer
        C:/opt/ros/noetic/x64/python.exe -m pytest src\tesseract_python\tesseract_python
        if %errorlevel% neq 0 exit /b %errorlevel%
