name: Windows-Noetic-Build

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '0 5 * * *'

jobs:
  windows_ci:
    name: Noetic
    runs-on: windows-latest
    env:
      ROS_DISTRO: noetic
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
        path: src/tesseract_python
    - name: Build
      shell: cmd
      run: |
        choco sources add -n=roswin -s https://aka.ms/ros/public --priority 1
        choco install ros-%ROS_DISTRO%-desktop_full -y --no-progress
        choco install swig

        call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat" -arch=amd64 -host_arch=amd64
        call "C:\opt\ros\%ROS_DISTRO%\x64\setup.bat"

        set

        rosdep update

        vcs import --input "${{ github.workspace }}/src/tesseract_python/dependencies_with_ext.rosinstall" src/

        rosdep install -q --from-paths . --ignore-src -y

        catkin_make_isolated --install --use-nmake --force-cmake --only-pkg-with-deps tesseract_python --cmake-args -DCMAKE_BUILD_TYPE=Release -DINSTALL_OMPL=ON -DINSTALL_OMPL_TAG=master -DBUILD_IPOPT=OFF -DBUILD_SNOPT=OFF -DINSTALL_FCL=ON -DINSTALL_BULLET=ON
        call "D:\a\tesseract_python\tesseract_python\install_isolated\setup.bat"
        catkin_make_isolated --install --use-nmake --force-cmake --pkg tesseract_python --cmake-args -DCMAKE_BUILD_TYPE=Release -DTESSERACT_ENABLE_TESTING=ON -DINSTALL_OMPL=ON -DINSTALL_OMPL_TAG=master -DBUILD_IPOPT=OFF -DBUILD_SNOPT=OFF -DINSTALL_FCL=ON -DINSTALL_BULLET=ON
